@use '../helpers';

/********************************************
        FONT STACKS
********************************************/
$source: 'source-sans-pro', sans-serif;

//== Font
$base-font-family:
   'Ubuntu', 'Play', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size: helpers.Rem(16px);
$base-font-height: 1.5;
$base-font-style: normal;

//== Color

// Normal mode
$color-foreground: #202020;
$color-background: #ffffff;
$color-link: #2020e0;
