$icons-font: "icons";

@font-face {
    font-family: $icons-font;
    src: url("./icons.woff?e5d508217f43667f988a2dc1dba43783") format("woff"),
url("./icons.woff2?e5d508217f43667f988a2dc1dba43783") format("woff2"),
url("./icons.eot?e5d508217f43667f988a2dc1dba43783#iefix") format("embedded-opentype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
    "outline-academic-cap": "\f101",
    "outline-adjustments": "\f102",
    "outline-annotation": "\f103",
    "outline-archive": "\f104",
    "outline-arrow-circle-down": "\f105",
    "outline-arrow-circle-left": "\f106",
    "outline-arrow-circle-right": "\f107",
    "outline-arrow-circle-up": "\f108",
    "outline-arrow-down": "\f109",
    "outline-arrow-left": "\f10a",
    "outline-arrow-narrow-down": "\f10b",
    "outline-arrow-narrow-left": "\f10c",
    "outline-arrow-narrow-right": "\f10d",
    "outline-arrow-narrow-up": "\f10e",
    "outline-arrow-right": "\f10f",
    "outline-arrow-sm-down": "\f110",
    "outline-arrow-sm-left": "\f111",
    "outline-arrow-sm-right": "\f112",
    "outline-arrow-sm-up": "\f113",
    "outline-arrow-up": "\f114",
    "outline-arrows-expand": "\f115",
    "outline-at-symbol": "\f116",
    "outline-backspace": "\f117",
    "outline-badge-check": "\f118",
    "outline-ban": "\f119",
    "outline-beaker": "\f11a",
    "outline-bell": "\f11b",
    "outline-book-open": "\f11c",
    "outline-bookmark-alt": "\f11d",
    "outline-bookmark": "\f11e",
    "outline-briefcase": "\f11f",
    "outline-cake": "\f120",
    "outline-calculator": "\f121",
    "outline-calendar": "\f122",
    "outline-camera": "\f123",
    "outline-cash": "\f124",
    "outline-chart-bar": "\f125",
    "outline-chart-pie": "\f126",
    "outline-chart-square-bar": "\f127",
    "outline-chat-alt-2": "\f128",
    "outline-chat-alt": "\f129",
    "outline-chat": "\f12a",
    "outline-check-circle": "\f12b",
    "outline-check": "\f12c",
    "outline-chevron-double-down": "\f12d",
    "outline-chevron-double-left": "\f12e",
    "outline-chevron-double-right": "\f12f",
    "outline-chevron-double-up": "\f130",
    "outline-chevron-down": "\f131",
    "outline-chevron-left": "\f132",
    "outline-chevron-right": "\f133",
    "outline-chevron-up": "\f134",
    "outline-chip": "\f135",
    "outline-clipboard-check": "\f136",
    "outline-clipboard-copy": "\f137",
    "outline-clipboard-list": "\f138",
    "outline-clipboard": "\f139",
    "outline-clock": "\f13a",
    "outline-cloud-download": "\f13b",
    "outline-cloud-upload": "\f13c",
    "outline-cloud": "\f13d",
    "outline-code": "\f13e",
    "outline-cog": "\f13f",
    "outline-collection": "\f140",
    "outline-color-swatch": "\f141",
    "outline-credit-card": "\f142",
    "outline-cube-transparent": "\f143",
    "outline-cube": "\f144",
    "outline-currency-bangladeshi": "\f145",
    "outline-currency-dollar": "\f146",
    "outline-currency-euro": "\f147",
    "outline-currency-pound": "\f148",
    "outline-currency-rupee": "\f149",
    "outline-currency-yen": "\f14a",
    "outline-cursor-click": "\f14b",
    "outline-database": "\f14c",
    "outline-desktop-computer": "\f14d",
    "outline-device-mobile": "\f14e",
    "outline-device-tablet": "\f14f",
    "outline-document-add": "\f150",
    "outline-document-download": "\f151",
    "outline-document-duplicate": "\f152",
    "outline-document-remove": "\f153",
    "outline-document-report": "\f154",
    "outline-document-search": "\f155",
    "outline-document-text": "\f156",
    "outline-document": "\f157",
    "outline-dots-circle-horizontal": "\f158",
    "outline-dots-horizontal": "\f159",
    "outline-dots-vertical": "\f15a",
    "outline-download": "\f15b",
    "outline-duplicate": "\f15c",
    "outline-emoji-happy": "\f15d",
    "outline-emoji-sad": "\f15e",
    "outline-exclamation-circle": "\f15f",
    "outline-exclamation": "\f160",
    "outline-external-link": "\f161",
    "outline-eye-off": "\f162",
    "outline-eye": "\f163",
    "outline-fast-forward": "\f164",
    "outline-film": "\f165",
    "outline-filter": "\f166",
    "outline-finger-print": "\f167",
    "outline-fire": "\f168",
    "outline-flag": "\f169",
    "outline-folder-add": "\f16a",
    "outline-folder-download": "\f16b",
    "outline-folder-open": "\f16c",
    "outline-folder-remove": "\f16d",
    "outline-folder": "\f16e",
    "outline-gift": "\f16f",
    "outline-globe-alt": "\f170",
    "outline-globe": "\f171",
    "outline-hand": "\f172",
    "outline-hashtag": "\f173",
    "outline-heart": "\f174",
    "outline-home": "\f175",
    "outline-icon-user-remove": "\f176",
    "outline-identification": "\f177",
    "outline-inbox-in": "\f178",
    "outline-inbox": "\f179",
    "outline-information-circle": "\f17a",
    "outline-key": "\f17b",
    "outline-library": "\f17c",
    "outline-light-bulb": "\f17d",
    "outline-lightning-bolt": "\f17e",
    "outline-link": "\f17f",
    "outline-location-marker": "\f180",
    "outline-lock-closed": "\f181",
    "outline-lock-open": "\f182",
    "outline-logi": "\f183",
    "outline-logout": "\f184",
    "outline-mail-open": "\f185",
    "outline-mail": "\f186",
    "outline-map": "\f187",
    "outline-menu-alt-1": "\f188",
    "outline-menu-alt-2": "\f189",
    "outline-menu-alt-3": "\f18a",
    "outline-menu-alt-4": "\f18b",
    "outline-menu": "\f18c",
    "outline-microphone": "\f18d",
    "outline-minus-circle": "\f18e",
    "outline-minus-sm": "\f18f",
    "outline-minus": "\f190",
    "outline-moon": "\f191",
    "outline-music-note": "\f192",
    "outline-newspaper": "\f193",
    "outline-office-building": "\f194",
    "outline-paper-airplane": "\f195",
    "outline-paper-clip": "\f196",
    "outline-pause": "\f197",
    "outline-pencil-alt": "\f198",
    "outline-pencil": "\f199",
    "outline-phone-incoming": "\f19a",
    "outline-phone-missed-call": "\f19b",
    "outline-phone-outgoing": "\f19c",
    "outline-phone": "\f19d",
    "outline-photograph": "\f19e",
    "outline-play": "\f19f",
    "outline-plus-circle": "\f1a0",
    "outline-plus-sm": "\f1a1",
    "outline-plus": "\f1a2",
    "outline-presentation-chart-bar": "\f1a3",
    "outline-presentation-chart-line": "\f1a4",
    "outline-printer": "\f1a5",
    "outline-puzzle": "\f1a6",
    "outline-qrcode": "\f1a7",
    "outline-question-mark-circle": "\f1a8",
    "outline-receipt-refund": "\f1a9",
    "outline-receipt-tax": "\f1aa",
    "outline-refresh": "\f1ab",
    "outline-reply": "\f1ac",
    "outline-rewind": "\f1ad",
    "outline-rss": "\f1ae",
    "outline-save-as": "\f1af",
    "outline-save": "\f1b0",
    "outline-scale": "\f1b1",
    "outline-scissors": "\f1b2",
    "outline-search-circle": "\f1b3",
    "outline-selector": "\f1b4",
    "outline-server": "\f1b5",
    "outline-share": "\f1b6",
    "outline-shield-check": "\f1b7",
    "outline-shield-exclamation": "\f1b8",
    "outline-shopping-bag": "\f1b9",
    "outline-shopping-cart": "\f1ba",
    "outline-sm-view-grid-add": "\f1bb",
    "outline-sort-ascending": "\f1bc",
    "outline-sort-descending": "\f1bd",
    "outline-sparkles": "\f1be",
    "outline-speakerphone": "\f1bf",
    "outline-star": "\f1c0",
    "outline-status-offline": "\f1c1",
    "outline-status-online": "\f1c2",
    "outline-stop": "\f1c3",
    "outline-sun": "\f1c4",
    "outline-support": "\f1c5",
    "outline-switch-horizontal": "\f1c6",
    "outline-switch-vertical": "\f1c7",
    "outline-table": "\f1c8",
    "outline-tag": "\f1c9",
    "outline-template": "\f1ca",
    "outline-terminal": "\f1cb",
    "outline-thumb-down": "\f1cc",
    "outline-thumb-up": "\f1cd",
    "outline-ticket": "\f1ce",
    "outline-translate": "\f1cf",
    "outline-trash": "\f1d0",
    "outline-trending-down": "\f1d1",
    "outline-trending-up": "\f1d2",
    "outline-truck": "\f1d3",
    "outline-upload": "\f1d4",
    "outline-user-add": "\f1d5",
    "outline-user-circle": "\f1d6",
    "outline-user-group": "\f1d7",
    "outline-user": "\f1d8",
    "outline-users": "\f1d9",
    "outline-variable": "\f1da",
    "outline-video-camera": "\f1db",
    "outline-view-boards": "\f1dc",
    "outline-view-grid": "\f1dd",
    "outline-view-list": "\f1de",
    "outline-volume-off": "\f1df",
    "outline-volume-up": "\f1e0",
    "outline-wifi": "\f1e1",
    "outline-x-circle": "\f1e2",
    "outline-x": "\f1e3",
    "outline-zoom-in": "\f1e4",
    "outline-zoom-out": "\f1e5",
    "solid-academic-cap": "\f1e6",
    "solid-adjustments": "\f1e7",
    "solid-annotation": "\f1e8",
    "solid-archive": "\f1e9",
    "solid-arrow-circle-down": "\f1ea",
    "solid-arrow-circle-left": "\f1eb",
    "solid-arrow-circle-right": "\f1ec",
    "solid-arrow-circle-up": "\f1ed",
    "solid-arrow-down": "\f1ee",
    "solid-arrow-left": "\f1ef",
    "solid-arrow-narrow-down": "\f1f0",
    "solid-arrow-narrow-left": "\f1f1",
    "solid-arrow-narrow-right": "\f1f2",
    "solid-arrow-narrow-up": "\f1f3",
    "solid-arrow-right": "\f1f4",
    "solid-arrow-sm-down": "\f1f5",
    "solid-arrow-sm-left": "\f1f6",
    "solid-arrow-sm-right": "\f1f7",
    "solid-arrow-sm-up": "\f1f8",
    "solid-arrow-up": "\f1f9",
    "solid-arrows-expand": "\f1fa",
    "solid-at-symbol": "\f1fb",
    "solid-backspace": "\f1fc",
    "solid-badge-check": "\f1fd",
    "solid-ban": "\f1fe",
    "solid-beaker": "\f1ff",
    "solid-bell": "\f200",
    "solid-book-open": "\f201",
    "solid-bookmark-alt": "\f202",
    "solid-bookmark": "\f203",
    "solid-briefcase": "\f204",
    "solid-cake": "\f205",
    "solid-calculato": "\f206",
    "solid-calendar": "\f207",
    "solid-camera": "\f208",
    "solid-cart": "\f209",
    "solid-cash": "\f20a",
    "solid-chart-bar": "\f20b",
    "solid-chart-pie": "\f20c",
    "solid-chart-square-bar": "\f20d",
    "solid-chat-alt-2": "\f20e",
    "solid-chat-alt": "\f20f",
    "solid-chat": "\f210",
    "solid-check-circle": "\f211",
    "solid-check": "\f212",
    "solid-chevron-double-down": "\f213",
    "solid-chevron-double-left": "\f214",
    "solid-chevron-double-right": "\f215",
    "solid-chevron-double-up": "\f216",
    "solid-chevron-down": "\f217",
    "solid-chevron-left": "\f218",
    "solid-chevron-right": "\f219",
    "solid-chevron-up": "\f21a",
    "solid-chip": "\f21b",
    "solid-clipboard-check": "\f21c",
    "solid-clipboard-copy": "\f21d",
    "solid-clipboard-list": "\f21e",
    "solid-clock": "\f21f",
    "solid-cloud-download": "\f220",
    "solid-cloud-upload": "\f221",
    "solid-cloud": "\f222",
    "solid-code": "\f223",
    "solid-cog": "\f224",
    "solid-collection": "\f225",
    "solid-color-swatch": "\f226",
    "solid-credit-card": "\f227",
    "solid-cube-transparent": "\f228",
    "solid-cube": "\f229",
    "solid-currency-bangladeshi": "\f22a",
    "solid-currency-dollar": "\f22b",
    "solid-currency-euro": "\f22c",
    "solid-currency-pound": "\f22d",
    "solid-currency-rupee": "\f22e",
    "solid-currency-yen": "\f22f",
    "solid-cursor-click": "\f230",
    "solid-database": "\f231",
    "solid-desktop-computer": "\f232",
    "solid-device-mobile": "\f233",
    "solid-document-add": "\f234",
    "solid-document-download": "\f235",
    "solid-document-duplicate": "\f236",
    "solid-document-remove": "\f237",
    "solid-document-report": "\f238",
    "solid-document-search": "\f239",
    "solid-document-text": "\f23a",
    "solid-document": "\f23b",
    "solid-dots-circle-horizontal": "\f23c",
    "solid-dots-horizontal": "\f23d",
    "solid-dots-vertical": "\f23e",
    "solid-download": "\f23f",
    "solid-duplicate": "\f240",
    "solid-emoji-happy": "\f241",
    "solid-emoji-sad": "\f242",
    "solid-exclamation-circle": "\f243",
    "solid-exclamation": "\f244",
    "solid-external-link": "\f245",
    "solid-eye-off": "\f246",
    "solid-eye": "\f247",
    "solid-fast-forward": "\f248",
    "solid-film": "\f249",
    "solid-filter": "\f24a",
    "solid-finger-print": "\f24b",
    "solid-fire": "\f24c",
    "solid-flag": "\f24d",
    "solid-folder-add": "\f24e",
    "solid-folder-download": "\f24f",
    "solid-folder-open": "\f250",
    "solid-folder-remove": "\f251",
    "solid-folder": "\f252",
    "solid-gift": "\f253",
    "solid-globe-alt": "\f254",
    "solid-globe": "\f255",
    "solid-hand": "\f256",
    "solid-hashtag": "\f257",
    "solid-heart": "\f258",
    "solid-home": "\f259",
    "solid-icon-currency-dollar": "\f25a",
    "solid-identification": "\f25b",
    "solid-inbox-in": "\f25c",
    "solid-inbox": "\f25d",
    "solid-information-circle": "\f25e",
    "solid-key": "\f25f",
    "solid-light-bulb": "\f260",
    "solid-lightning-bolt": "\f261",
    "solid-link": "\f262",
    "solid-location-marker": "\f263",
    "solid-lock-closed": "\f264",
    "solid-lock-open": "\f265",
    "solid-login": "\f266",
    "solid-logout": "\f267",
    "solid-mail-open": "\f268",
    "solid-mail": "\f269",
    "solid-map": "\f26a",
    "solid-md-library": "\f26b",
    "solid-menu-alt-1": "\f26c",
    "solid-menu-alt-2": "\f26d",
    "solid-menu-alt-3": "\f26e",
    "solid-menu-alt-4": "\f26f",
    "solid-menu": "\f270",
    "solid-microphone": "\f271",
    "solid-minus-circle": "\f272",
    "solid-minus-sm": "\f273",
    "solid-minus": "\f274",
    "solid-mobile": "\f275",
    "solid-moon": "\f276",
    "solid-music-note": "\f277",
    "solid-newspaper": "\f278",
    "solid-office-building": "\f279",
    "solid-paper-airplane": "\f27a",
    "solid-paper-clip": "\f27b",
    "solid-pause": "\f27c",
    "solid-pencil-alt": "\f27d",
    "solid-pencil": "\f27e",
    "solid-phone-incoming": "\f27f",
    "solid-phone-missed-call": "\f280",
    "solid-phone-outgoing": "\f281",
    "solid-phone": "\f282",
    "solid-photograph": "\f283",
    "solid-play": "\f284",
    "solid-plus-circle": "\f285",
    "solid-plus-sm": "\f286",
    "solid-plus": "\f287",
    "solid-presentation-chart-bar": "\f288",
    "solid-presentation-chart-line": "\f289",
    "solid-printer": "\f28a",
    "solid-qrcode": "\f28b",
    "solid-question-mark-circle": "\f28c",
    "solid-receipt-tax": "\f28d",
);

.icon-outline-academic-cap:before {
    content: map-get($icons-map, "outline-academic-cap");
}
.icon-outline-adjustments:before {
    content: map-get($icons-map, "outline-adjustments");
}
.icon-outline-annotation:before {
    content: map-get($icons-map, "outline-annotation");
}
.icon-outline-archive:before {
    content: map-get($icons-map, "outline-archive");
}
.icon-outline-arrow-circle-down:before {
    content: map-get($icons-map, "outline-arrow-circle-down");
}
.icon-outline-arrow-circle-left:before {
    content: map-get($icons-map, "outline-arrow-circle-left");
}
.icon-outline-arrow-circle-right:before {
    content: map-get($icons-map, "outline-arrow-circle-right");
}
.icon-outline-arrow-circle-up:before {
    content: map-get($icons-map, "outline-arrow-circle-up");
}
.icon-outline-arrow-down:before {
    content: map-get($icons-map, "outline-arrow-down");
}
.icon-outline-arrow-left:before {
    content: map-get($icons-map, "outline-arrow-left");
}
.icon-outline-arrow-narrow-down:before {
    content: map-get($icons-map, "outline-arrow-narrow-down");
}
.icon-outline-arrow-narrow-left:before {
    content: map-get($icons-map, "outline-arrow-narrow-left");
}
.icon-outline-arrow-narrow-right:before {
    content: map-get($icons-map, "outline-arrow-narrow-right");
}
.icon-outline-arrow-narrow-up:before {
    content: map-get($icons-map, "outline-arrow-narrow-up");
}
.icon-outline-arrow-right:before {
    content: map-get($icons-map, "outline-arrow-right");
}
.icon-outline-arrow-sm-down:before {
    content: map-get($icons-map, "outline-arrow-sm-down");
}
.icon-outline-arrow-sm-left:before {
    content: map-get($icons-map, "outline-arrow-sm-left");
}
.icon-outline-arrow-sm-right:before {
    content: map-get($icons-map, "outline-arrow-sm-right");
}
.icon-outline-arrow-sm-up:before {
    content: map-get($icons-map, "outline-arrow-sm-up");
}
.icon-outline-arrow-up:before {
    content: map-get($icons-map, "outline-arrow-up");
}
.icon-outline-arrows-expand:before {
    content: map-get($icons-map, "outline-arrows-expand");
}
.icon-outline-at-symbol:before {
    content: map-get($icons-map, "outline-at-symbol");
}
.icon-outline-backspace:before {
    content: map-get($icons-map, "outline-backspace");
}
.icon-outline-badge-check:before {
    content: map-get($icons-map, "outline-badge-check");
}
.icon-outline-ban:before {
    content: map-get($icons-map, "outline-ban");
}
.icon-outline-beaker:before {
    content: map-get($icons-map, "outline-beaker");
}
.icon-outline-bell:before {
    content: map-get($icons-map, "outline-bell");
}
.icon-outline-book-open:before {
    content: map-get($icons-map, "outline-book-open");
}
.icon-outline-bookmark-alt:before {
    content: map-get($icons-map, "outline-bookmark-alt");
}
.icon-outline-bookmark:before {
    content: map-get($icons-map, "outline-bookmark");
}
.icon-outline-briefcase:before {
    content: map-get($icons-map, "outline-briefcase");
}
.icon-outline-cake:before {
    content: map-get($icons-map, "outline-cake");
}
.icon-outline-calculator:before {
    content: map-get($icons-map, "outline-calculator");
}
.icon-outline-calendar:before {
    content: map-get($icons-map, "outline-calendar");
}
.icon-outline-camera:before {
    content: map-get($icons-map, "outline-camera");
}
.icon-outline-cash:before {
    content: map-get($icons-map, "outline-cash");
}
.icon-outline-chart-bar:before {
    content: map-get($icons-map, "outline-chart-bar");
}
.icon-outline-chart-pie:before {
    content: map-get($icons-map, "outline-chart-pie");
}
.icon-outline-chart-square-bar:before {
    content: map-get($icons-map, "outline-chart-square-bar");
}
.icon-outline-chat-alt-2:before {
    content: map-get($icons-map, "outline-chat-alt-2");
}
.icon-outline-chat-alt:before {
    content: map-get($icons-map, "outline-chat-alt");
}
.icon-outline-chat:before {
    content: map-get($icons-map, "outline-chat");
}
.icon-outline-check-circle:before {
    content: map-get($icons-map, "outline-check-circle");
}
.icon-outline-check:before {
    content: map-get($icons-map, "outline-check");
}
.icon-outline-chevron-double-down:before {
    content: map-get($icons-map, "outline-chevron-double-down");
}
.icon-outline-chevron-double-left:before {
    content: map-get($icons-map, "outline-chevron-double-left");
}
.icon-outline-chevron-double-right:before {
    content: map-get($icons-map, "outline-chevron-double-right");
}
.icon-outline-chevron-double-up:before {
    content: map-get($icons-map, "outline-chevron-double-up");
}
.icon-outline-chevron-down:before {
    content: map-get($icons-map, "outline-chevron-down");
}
.icon-outline-chevron-left:before {
    content: map-get($icons-map, "outline-chevron-left");
}
.icon-outline-chevron-right:before {
    content: map-get($icons-map, "outline-chevron-right");
}
.icon-outline-chevron-up:before {
    content: map-get($icons-map, "outline-chevron-up");
}
.icon-outline-chip:before {
    content: map-get($icons-map, "outline-chip");
}
.icon-outline-clipboard-check:before {
    content: map-get($icons-map, "outline-clipboard-check");
}
.icon-outline-clipboard-copy:before {
    content: map-get($icons-map, "outline-clipboard-copy");
}
.icon-outline-clipboard-list:before {
    content: map-get($icons-map, "outline-clipboard-list");
}
.icon-outline-clipboard:before {
    content: map-get($icons-map, "outline-clipboard");
}
.icon-outline-clock:before {
    content: map-get($icons-map, "outline-clock");
}
.icon-outline-cloud-download:before {
    content: map-get($icons-map, "outline-cloud-download");
}
.icon-outline-cloud-upload:before {
    content: map-get($icons-map, "outline-cloud-upload");
}
.icon-outline-cloud:before {
    content: map-get($icons-map, "outline-cloud");
}
.icon-outline-code:before {
    content: map-get($icons-map, "outline-code");
}
.icon-outline-cog:before {
    content: map-get($icons-map, "outline-cog");
}
.icon-outline-collection:before {
    content: map-get($icons-map, "outline-collection");
}
.icon-outline-color-swatch:before {
    content: map-get($icons-map, "outline-color-swatch");
}
.icon-outline-credit-card:before {
    content: map-get($icons-map, "outline-credit-card");
}
.icon-outline-cube-transparent:before {
    content: map-get($icons-map, "outline-cube-transparent");
}
.icon-outline-cube:before {
    content: map-get($icons-map, "outline-cube");
}
.icon-outline-currency-bangladeshi:before {
    content: map-get($icons-map, "outline-currency-bangladeshi");
}
.icon-outline-currency-dollar:before {
    content: map-get($icons-map, "outline-currency-dollar");
}
.icon-outline-currency-euro:before {
    content: map-get($icons-map, "outline-currency-euro");
}
.icon-outline-currency-pound:before {
    content: map-get($icons-map, "outline-currency-pound");
}
.icon-outline-currency-rupee:before {
    content: map-get($icons-map, "outline-currency-rupee");
}
.icon-outline-currency-yen:before {
    content: map-get($icons-map, "outline-currency-yen");
}
.icon-outline-cursor-click:before {
    content: map-get($icons-map, "outline-cursor-click");
}
.icon-outline-database:before {
    content: map-get($icons-map, "outline-database");
}
.icon-outline-desktop-computer:before {
    content: map-get($icons-map, "outline-desktop-computer");
}
.icon-outline-device-mobile:before {
    content: map-get($icons-map, "outline-device-mobile");
}
.icon-outline-device-tablet:before {
    content: map-get($icons-map, "outline-device-tablet");
}
.icon-outline-document-add:before {
    content: map-get($icons-map, "outline-document-add");
}
.icon-outline-document-download:before {
    content: map-get($icons-map, "outline-document-download");
}
.icon-outline-document-duplicate:before {
    content: map-get($icons-map, "outline-document-duplicate");
}
.icon-outline-document-remove:before {
    content: map-get($icons-map, "outline-document-remove");
}
.icon-outline-document-report:before {
    content: map-get($icons-map, "outline-document-report");
}
.icon-outline-document-search:before {
    content: map-get($icons-map, "outline-document-search");
}
.icon-outline-document-text:before {
    content: map-get($icons-map, "outline-document-text");
}
.icon-outline-document:before {
    content: map-get($icons-map, "outline-document");
}
.icon-outline-dots-circle-horizontal:before {
    content: map-get($icons-map, "outline-dots-circle-horizontal");
}
.icon-outline-dots-horizontal:before {
    content: map-get($icons-map, "outline-dots-horizontal");
}
.icon-outline-dots-vertical:before {
    content: map-get($icons-map, "outline-dots-vertical");
}
.icon-outline-download:before {
    content: map-get($icons-map, "outline-download");
}
.icon-outline-duplicate:before {
    content: map-get($icons-map, "outline-duplicate");
}
.icon-outline-emoji-happy:before {
    content: map-get($icons-map, "outline-emoji-happy");
}
.icon-outline-emoji-sad:before {
    content: map-get($icons-map, "outline-emoji-sad");
}
.icon-outline-exclamation-circle:before {
    content: map-get($icons-map, "outline-exclamation-circle");
}
.icon-outline-exclamation:before {
    content: map-get($icons-map, "outline-exclamation");
}
.icon-outline-external-link:before {
    content: map-get($icons-map, "outline-external-link");
}
.icon-outline-eye-off:before {
    content: map-get($icons-map, "outline-eye-off");
}
.icon-outline-eye:before {
    content: map-get($icons-map, "outline-eye");
}
.icon-outline-fast-forward:before {
    content: map-get($icons-map, "outline-fast-forward");
}
.icon-outline-film:before {
    content: map-get($icons-map, "outline-film");
}
.icon-outline-filter:before {
    content: map-get($icons-map, "outline-filter");
}
.icon-outline-finger-print:before {
    content: map-get($icons-map, "outline-finger-print");
}
.icon-outline-fire:before {
    content: map-get($icons-map, "outline-fire");
}
.icon-outline-flag:before {
    content: map-get($icons-map, "outline-flag");
}
.icon-outline-folder-add:before {
    content: map-get($icons-map, "outline-folder-add");
}
.icon-outline-folder-download:before {
    content: map-get($icons-map, "outline-folder-download");
}
.icon-outline-folder-open:before {
    content: map-get($icons-map, "outline-folder-open");
}
.icon-outline-folder-remove:before {
    content: map-get($icons-map, "outline-folder-remove");
}
.icon-outline-folder:before {
    content: map-get($icons-map, "outline-folder");
}
.icon-outline-gift:before {
    content: map-get($icons-map, "outline-gift");
}
.icon-outline-globe-alt:before {
    content: map-get($icons-map, "outline-globe-alt");
}
.icon-outline-globe:before {
    content: map-get($icons-map, "outline-globe");
}
.icon-outline-hand:before {
    content: map-get($icons-map, "outline-hand");
}
.icon-outline-hashtag:before {
    content: map-get($icons-map, "outline-hashtag");
}
.icon-outline-heart:before {
    content: map-get($icons-map, "outline-heart");
}
.icon-outline-home:before {
    content: map-get($icons-map, "outline-home");
}
.icon-outline-icon-user-remove:before {
    content: map-get($icons-map, "outline-icon-user-remove");
}
.icon-outline-identification:before {
    content: map-get($icons-map, "outline-identification");
}
.icon-outline-inbox-in:before {
    content: map-get($icons-map, "outline-inbox-in");
}
.icon-outline-inbox:before {
    content: map-get($icons-map, "outline-inbox");
}
.icon-outline-information-circle:before {
    content: map-get($icons-map, "outline-information-circle");
}
.icon-outline-key:before {
    content: map-get($icons-map, "outline-key");
}
.icon-outline-library:before {
    content: map-get($icons-map, "outline-library");
}
.icon-outline-light-bulb:before {
    content: map-get($icons-map, "outline-light-bulb");
}
.icon-outline-lightning-bolt:before {
    content: map-get($icons-map, "outline-lightning-bolt");
}
.icon-outline-link:before {
    content: map-get($icons-map, "outline-link");
}
.icon-outline-location-marker:before {
    content: map-get($icons-map, "outline-location-marker");
}
.icon-outline-lock-closed:before {
    content: map-get($icons-map, "outline-lock-closed");
}
.icon-outline-lock-open:before {
    content: map-get($icons-map, "outline-lock-open");
}
.icon-outline-logi:before {
    content: map-get($icons-map, "outline-logi");
}
.icon-outline-logout:before {
    content: map-get($icons-map, "outline-logout");
}
.icon-outline-mail-open:before {
    content: map-get($icons-map, "outline-mail-open");
}
.icon-outline-mail:before {
    content: map-get($icons-map, "outline-mail");
}
.icon-outline-map:before {
    content: map-get($icons-map, "outline-map");
}
.icon-outline-menu-alt-1:before {
    content: map-get($icons-map, "outline-menu-alt-1");
}
.icon-outline-menu-alt-2:before {
    content: map-get($icons-map, "outline-menu-alt-2");
}
.icon-outline-menu-alt-3:before {
    content: map-get($icons-map, "outline-menu-alt-3");
}
.icon-outline-menu-alt-4:before {
    content: map-get($icons-map, "outline-menu-alt-4");
}
.icon-outline-menu:before {
    content: map-get($icons-map, "outline-menu");
}
.icon-outline-microphone:before {
    content: map-get($icons-map, "outline-microphone");
}
.icon-outline-minus-circle:before {
    content: map-get($icons-map, "outline-minus-circle");
}
.icon-outline-minus-sm:before {
    content: map-get($icons-map, "outline-minus-sm");
}
.icon-outline-minus:before {
    content: map-get($icons-map, "outline-minus");
}
.icon-outline-moon:before {
    content: map-get($icons-map, "outline-moon");
}
.icon-outline-music-note:before {
    content: map-get($icons-map, "outline-music-note");
}
.icon-outline-newspaper:before {
    content: map-get($icons-map, "outline-newspaper");
}
.icon-outline-office-building:before {
    content: map-get($icons-map, "outline-office-building");
}
.icon-outline-paper-airplane:before {
    content: map-get($icons-map, "outline-paper-airplane");
}
.icon-outline-paper-clip:before {
    content: map-get($icons-map, "outline-paper-clip");
}
.icon-outline-pause:before {
    content: map-get($icons-map, "outline-pause");
}
.icon-outline-pencil-alt:before {
    content: map-get($icons-map, "outline-pencil-alt");
}
.icon-outline-pencil:before {
    content: map-get($icons-map, "outline-pencil");
}
.icon-outline-phone-incoming:before {
    content: map-get($icons-map, "outline-phone-incoming");
}
.icon-outline-phone-missed-call:before {
    content: map-get($icons-map, "outline-phone-missed-call");
}
.icon-outline-phone-outgoing:before {
    content: map-get($icons-map, "outline-phone-outgoing");
}
.icon-outline-phone:before {
    content: map-get($icons-map, "outline-phone");
}
.icon-outline-photograph:before {
    content: map-get($icons-map, "outline-photograph");
}
.icon-outline-play:before {
    content: map-get($icons-map, "outline-play");
}
.icon-outline-plus-circle:before {
    content: map-get($icons-map, "outline-plus-circle");
}
.icon-outline-plus-sm:before {
    content: map-get($icons-map, "outline-plus-sm");
}
.icon-outline-plus:before {
    content: map-get($icons-map, "outline-plus");
}
.icon-outline-presentation-chart-bar:before {
    content: map-get($icons-map, "outline-presentation-chart-bar");
}
.icon-outline-presentation-chart-line:before {
    content: map-get($icons-map, "outline-presentation-chart-line");
}
.icon-outline-printer:before {
    content: map-get($icons-map, "outline-printer");
}
.icon-outline-puzzle:before {
    content: map-get($icons-map, "outline-puzzle");
}
.icon-outline-qrcode:before {
    content: map-get($icons-map, "outline-qrcode");
}
.icon-outline-question-mark-circle:before {
    content: map-get($icons-map, "outline-question-mark-circle");
}
.icon-outline-receipt-refund:before {
    content: map-get($icons-map, "outline-receipt-refund");
}
.icon-outline-receipt-tax:before {
    content: map-get($icons-map, "outline-receipt-tax");
}
.icon-outline-refresh:before {
    content: map-get($icons-map, "outline-refresh");
}
.icon-outline-reply:before {
    content: map-get($icons-map, "outline-reply");
}
.icon-outline-rewind:before {
    content: map-get($icons-map, "outline-rewind");
}
.icon-outline-rss:before {
    content: map-get($icons-map, "outline-rss");
}
.icon-outline-save-as:before {
    content: map-get($icons-map, "outline-save-as");
}
.icon-outline-save:before {
    content: map-get($icons-map, "outline-save");
}
.icon-outline-scale:before {
    content: map-get($icons-map, "outline-scale");
}
.icon-outline-scissors:before {
    content: map-get($icons-map, "outline-scissors");
}
.icon-outline-search-circle:before {
    content: map-get($icons-map, "outline-search-circle");
}
.icon-outline-selector:before {
    content: map-get($icons-map, "outline-selector");
}
.icon-outline-server:before {
    content: map-get($icons-map, "outline-server");
}
.icon-outline-share:before {
    content: map-get($icons-map, "outline-share");
}
.icon-outline-shield-check:before {
    content: map-get($icons-map, "outline-shield-check");
}
.icon-outline-shield-exclamation:before {
    content: map-get($icons-map, "outline-shield-exclamation");
}
.icon-outline-shopping-bag:before {
    content: map-get($icons-map, "outline-shopping-bag");
}
.icon-outline-shopping-cart:before {
    content: map-get($icons-map, "outline-shopping-cart");
}
.icon-outline-sm-view-grid-add:before {
    content: map-get($icons-map, "outline-sm-view-grid-add");
}
.icon-outline-sort-ascending:before {
    content: map-get($icons-map, "outline-sort-ascending");
}
.icon-outline-sort-descending:before {
    content: map-get($icons-map, "outline-sort-descending");
}
.icon-outline-sparkles:before {
    content: map-get($icons-map, "outline-sparkles");
}
.icon-outline-speakerphone:before {
    content: map-get($icons-map, "outline-speakerphone");
}
.icon-outline-star:before {
    content: map-get($icons-map, "outline-star");
}
.icon-outline-status-offline:before {
    content: map-get($icons-map, "outline-status-offline");
}
.icon-outline-status-online:before {
    content: map-get($icons-map, "outline-status-online");
}
.icon-outline-stop:before {
    content: map-get($icons-map, "outline-stop");
}
.icon-outline-sun:before {
    content: map-get($icons-map, "outline-sun");
}
.icon-outline-support:before {
    content: map-get($icons-map, "outline-support");
}
.icon-outline-switch-horizontal:before {
    content: map-get($icons-map, "outline-switch-horizontal");
}
.icon-outline-switch-vertical:before {
    content: map-get($icons-map, "outline-switch-vertical");
}
.icon-outline-table:before {
    content: map-get($icons-map, "outline-table");
}
.icon-outline-tag:before {
    content: map-get($icons-map, "outline-tag");
}
.icon-outline-template:before {
    content: map-get($icons-map, "outline-template");
}
.icon-outline-terminal:before {
    content: map-get($icons-map, "outline-terminal");
}
.icon-outline-thumb-down:before {
    content: map-get($icons-map, "outline-thumb-down");
}
.icon-outline-thumb-up:before {
    content: map-get($icons-map, "outline-thumb-up");
}
.icon-outline-ticket:before {
    content: map-get($icons-map, "outline-ticket");
}
.icon-outline-translate:before {
    content: map-get($icons-map, "outline-translate");
}
.icon-outline-trash:before {
    content: map-get($icons-map, "outline-trash");
}
.icon-outline-trending-down:before {
    content: map-get($icons-map, "outline-trending-down");
}
.icon-outline-trending-up:before {
    content: map-get($icons-map, "outline-trending-up");
}
.icon-outline-truck:before {
    content: map-get($icons-map, "outline-truck");
}
.icon-outline-upload:before {
    content: map-get($icons-map, "outline-upload");
}
.icon-outline-user-add:before {
    content: map-get($icons-map, "outline-user-add");
}
.icon-outline-user-circle:before {
    content: map-get($icons-map, "outline-user-circle");
}
.icon-outline-user-group:before {
    content: map-get($icons-map, "outline-user-group");
}
.icon-outline-user:before {
    content: map-get($icons-map, "outline-user");
}
.icon-outline-users:before {
    content: map-get($icons-map, "outline-users");
}
.icon-outline-variable:before {
    content: map-get($icons-map, "outline-variable");
}
.icon-outline-video-camera:before {
    content: map-get($icons-map, "outline-video-camera");
}
.icon-outline-view-boards:before {
    content: map-get($icons-map, "outline-view-boards");
}
.icon-outline-view-grid:before {
    content: map-get($icons-map, "outline-view-grid");
}
.icon-outline-view-list:before {
    content: map-get($icons-map, "outline-view-list");
}
.icon-outline-volume-off:before {
    content: map-get($icons-map, "outline-volume-off");
}
.icon-outline-volume-up:before {
    content: map-get($icons-map, "outline-volume-up");
}
.icon-outline-wifi:before {
    content: map-get($icons-map, "outline-wifi");
}
.icon-outline-x-circle:before {
    content: map-get($icons-map, "outline-x-circle");
}
.icon-outline-x:before {
    content: map-get($icons-map, "outline-x");
}
.icon-outline-zoom-in:before {
    content: map-get($icons-map, "outline-zoom-in");
}
.icon-outline-zoom-out:before {
    content: map-get($icons-map, "outline-zoom-out");
}
.icon-solid-academic-cap:before {
    content: map-get($icons-map, "solid-academic-cap");
}
.icon-solid-adjustments:before {
    content: map-get($icons-map, "solid-adjustments");
}
.icon-solid-annotation:before {
    content: map-get($icons-map, "solid-annotation");
}
.icon-solid-archive:before {
    content: map-get($icons-map, "solid-archive");
}
.icon-solid-arrow-circle-down:before {
    content: map-get($icons-map, "solid-arrow-circle-down");
}
.icon-solid-arrow-circle-left:before {
    content: map-get($icons-map, "solid-arrow-circle-left");
}
.icon-solid-arrow-circle-right:before {
    content: map-get($icons-map, "solid-arrow-circle-right");
}
.icon-solid-arrow-circle-up:before {
    content: map-get($icons-map, "solid-arrow-circle-up");
}
.icon-solid-arrow-down:before {
    content: map-get($icons-map, "solid-arrow-down");
}
.icon-solid-arrow-left:before {
    content: map-get($icons-map, "solid-arrow-left");
}
.icon-solid-arrow-narrow-down:before {
    content: map-get($icons-map, "solid-arrow-narrow-down");
}
.icon-solid-arrow-narrow-left:before {
    content: map-get($icons-map, "solid-arrow-narrow-left");
}
.icon-solid-arrow-narrow-right:before {
    content: map-get($icons-map, "solid-arrow-narrow-right");
}
.icon-solid-arrow-narrow-up:before {
    content: map-get($icons-map, "solid-arrow-narrow-up");
}
.icon-solid-arrow-right:before {
    content: map-get($icons-map, "solid-arrow-right");
}
.icon-solid-arrow-sm-down:before {
    content: map-get($icons-map, "solid-arrow-sm-down");
}
.icon-solid-arrow-sm-left:before {
    content: map-get($icons-map, "solid-arrow-sm-left");
}
.icon-solid-arrow-sm-right:before {
    content: map-get($icons-map, "solid-arrow-sm-right");
}
.icon-solid-arrow-sm-up:before {
    content: map-get($icons-map, "solid-arrow-sm-up");
}
.icon-solid-arrow-up:before {
    content: map-get($icons-map, "solid-arrow-up");
}
.icon-solid-arrows-expand:before {
    content: map-get($icons-map, "solid-arrows-expand");
}
.icon-solid-at-symbol:before {
    content: map-get($icons-map, "solid-at-symbol");
}
.icon-solid-backspace:before {
    content: map-get($icons-map, "solid-backspace");
}
.icon-solid-badge-check:before {
    content: map-get($icons-map, "solid-badge-check");
}
.icon-solid-ban:before {
    content: map-get($icons-map, "solid-ban");
}
.icon-solid-beaker:before {
    content: map-get($icons-map, "solid-beaker");
}
.icon-solid-bell:before {
    content: map-get($icons-map, "solid-bell");
}
.icon-solid-book-open:before {
    content: map-get($icons-map, "solid-book-open");
}
.icon-solid-bookmark-alt:before {
    content: map-get($icons-map, "solid-bookmark-alt");
}
.icon-solid-bookmark:before {
    content: map-get($icons-map, "solid-bookmark");
}
.icon-solid-briefcase:before {
    content: map-get($icons-map, "solid-briefcase");
}
.icon-solid-cake:before {
    content: map-get($icons-map, "solid-cake");
}
.icon-solid-calculato:before {
    content: map-get($icons-map, "solid-calculato");
}
.icon-solid-calendar:before {
    content: map-get($icons-map, "solid-calendar");
}
.icon-solid-camera:before {
    content: map-get($icons-map, "solid-camera");
}
.icon-solid-cart:before {
    content: map-get($icons-map, "solid-cart");
}
.icon-solid-cash:before {
    content: map-get($icons-map, "solid-cash");
}
.icon-solid-chart-bar:before {
    content: map-get($icons-map, "solid-chart-bar");
}
.icon-solid-chart-pie:before {
    content: map-get($icons-map, "solid-chart-pie");
}
.icon-solid-chart-square-bar:before {
    content: map-get($icons-map, "solid-chart-square-bar");
}
.icon-solid-chat-alt-2:before {
    content: map-get($icons-map, "solid-chat-alt-2");
}
.icon-solid-chat-alt:before {
    content: map-get($icons-map, "solid-chat-alt");
}
.icon-solid-chat:before {
    content: map-get($icons-map, "solid-chat");
}
.icon-solid-check-circle:before {
    content: map-get($icons-map, "solid-check-circle");
}
.icon-solid-check:before {
    content: map-get($icons-map, "solid-check");
}
.icon-solid-chevron-double-down:before {
    content: map-get($icons-map, "solid-chevron-double-down");
}
.icon-solid-chevron-double-left:before {
    content: map-get($icons-map, "solid-chevron-double-left");
}
.icon-solid-chevron-double-right:before {
    content: map-get($icons-map, "solid-chevron-double-right");
}
.icon-solid-chevron-double-up:before {
    content: map-get($icons-map, "solid-chevron-double-up");
}
.icon-solid-chevron-down:before {
    content: map-get($icons-map, "solid-chevron-down");
}
.icon-solid-chevron-left:before {
    content: map-get($icons-map, "solid-chevron-left");
}
.icon-solid-chevron-right:before {
    content: map-get($icons-map, "solid-chevron-right");
}
.icon-solid-chevron-up:before {
    content: map-get($icons-map, "solid-chevron-up");
}
.icon-solid-chip:before {
    content: map-get($icons-map, "solid-chip");
}
.icon-solid-clipboard-check:before {
    content: map-get($icons-map, "solid-clipboard-check");
}
.icon-solid-clipboard-copy:before {
    content: map-get($icons-map, "solid-clipboard-copy");
}
.icon-solid-clipboard-list:before {
    content: map-get($icons-map, "solid-clipboard-list");
}
.icon-solid-clock:before {
    content: map-get($icons-map, "solid-clock");
}
.icon-solid-cloud-download:before {
    content: map-get($icons-map, "solid-cloud-download");
}
.icon-solid-cloud-upload:before {
    content: map-get($icons-map, "solid-cloud-upload");
}
.icon-solid-cloud:before {
    content: map-get($icons-map, "solid-cloud");
}
.icon-solid-code:before {
    content: map-get($icons-map, "solid-code");
}
.icon-solid-cog:before {
    content: map-get($icons-map, "solid-cog");
}
.icon-solid-collection:before {
    content: map-get($icons-map, "solid-collection");
}
.icon-solid-color-swatch:before {
    content: map-get($icons-map, "solid-color-swatch");
}
.icon-solid-credit-card:before {
    content: map-get($icons-map, "solid-credit-card");
}
.icon-solid-cube-transparent:before {
    content: map-get($icons-map, "solid-cube-transparent");
}
.icon-solid-cube:before {
    content: map-get($icons-map, "solid-cube");
}
.icon-solid-currency-bangladeshi:before {
    content: map-get($icons-map, "solid-currency-bangladeshi");
}
.icon-solid-currency-dollar:before {
    content: map-get($icons-map, "solid-currency-dollar");
}
.icon-solid-currency-euro:before {
    content: map-get($icons-map, "solid-currency-euro");
}
.icon-solid-currency-pound:before {
    content: map-get($icons-map, "solid-currency-pound");
}
.icon-solid-currency-rupee:before {
    content: map-get($icons-map, "solid-currency-rupee");
}
.icon-solid-currency-yen:before {
    content: map-get($icons-map, "solid-currency-yen");
}
.icon-solid-cursor-click:before {
    content: map-get($icons-map, "solid-cursor-click");
}
.icon-solid-database:before {
    content: map-get($icons-map, "solid-database");
}
.icon-solid-desktop-computer:before {
    content: map-get($icons-map, "solid-desktop-computer");
}
.icon-solid-device-mobile:before {
    content: map-get($icons-map, "solid-device-mobile");
}
.icon-solid-document-add:before {
    content: map-get($icons-map, "solid-document-add");
}
.icon-solid-document-download:before {
    content: map-get($icons-map, "solid-document-download");
}
.icon-solid-document-duplicate:before {
    content: map-get($icons-map, "solid-document-duplicate");
}
.icon-solid-document-remove:before {
    content: map-get($icons-map, "solid-document-remove");
}
.icon-solid-document-report:before {
    content: map-get($icons-map, "solid-document-report");
}
.icon-solid-document-search:before {
    content: map-get($icons-map, "solid-document-search");
}
.icon-solid-document-text:before {
    content: map-get($icons-map, "solid-document-text");
}
.icon-solid-document:before {
    content: map-get($icons-map, "solid-document");
}
.icon-solid-dots-circle-horizontal:before {
    content: map-get($icons-map, "solid-dots-circle-horizontal");
}
.icon-solid-dots-horizontal:before {
    content: map-get($icons-map, "solid-dots-horizontal");
}
.icon-solid-dots-vertical:before {
    content: map-get($icons-map, "solid-dots-vertical");
}
.icon-solid-download:before {
    content: map-get($icons-map, "solid-download");
}
.icon-solid-duplicate:before {
    content: map-get($icons-map, "solid-duplicate");
}
.icon-solid-emoji-happy:before {
    content: map-get($icons-map, "solid-emoji-happy");
}
.icon-solid-emoji-sad:before {
    content: map-get($icons-map, "solid-emoji-sad");
}
.icon-solid-exclamation-circle:before {
    content: map-get($icons-map, "solid-exclamation-circle");
}
.icon-solid-exclamation:before {
    content: map-get($icons-map, "solid-exclamation");
}
.icon-solid-external-link:before {
    content: map-get($icons-map, "solid-external-link");
}
.icon-solid-eye-off:before {
    content: map-get($icons-map, "solid-eye-off");
}
.icon-solid-eye:before {
    content: map-get($icons-map, "solid-eye");
}
.icon-solid-fast-forward:before {
    content: map-get($icons-map, "solid-fast-forward");
}
.icon-solid-film:before {
    content: map-get($icons-map, "solid-film");
}
.icon-solid-filter:before {
    content: map-get($icons-map, "solid-filter");
}
.icon-solid-finger-print:before {
    content: map-get($icons-map, "solid-finger-print");
}
.icon-solid-fire:before {
    content: map-get($icons-map, "solid-fire");
}
.icon-solid-flag:before {
    content: map-get($icons-map, "solid-flag");
}
.icon-solid-folder-add:before {
    content: map-get($icons-map, "solid-folder-add");
}
.icon-solid-folder-download:before {
    content: map-get($icons-map, "solid-folder-download");
}
.icon-solid-folder-open:before {
    content: map-get($icons-map, "solid-folder-open");
}
.icon-solid-folder-remove:before {
    content: map-get($icons-map, "solid-folder-remove");
}
.icon-solid-folder:before {
    content: map-get($icons-map, "solid-folder");
}
.icon-solid-gift:before {
    content: map-get($icons-map, "solid-gift");
}
.icon-solid-globe-alt:before {
    content: map-get($icons-map, "solid-globe-alt");
}
.icon-solid-globe:before {
    content: map-get($icons-map, "solid-globe");
}
.icon-solid-hand:before {
    content: map-get($icons-map, "solid-hand");
}
.icon-solid-hashtag:before {
    content: map-get($icons-map, "solid-hashtag");
}
.icon-solid-heart:before {
    content: map-get($icons-map, "solid-heart");
}
.icon-solid-home:before {
    content: map-get($icons-map, "solid-home");
}
.icon-solid-icon-currency-dollar:before {
    content: map-get($icons-map, "solid-icon-currency-dollar");
}
.icon-solid-identification:before {
    content: map-get($icons-map, "solid-identification");
}
.icon-solid-inbox-in:before {
    content: map-get($icons-map, "solid-inbox-in");
}
.icon-solid-inbox:before {
    content: map-get($icons-map, "solid-inbox");
}
.icon-solid-information-circle:before {
    content: map-get($icons-map, "solid-information-circle");
}
.icon-solid-key:before {
    content: map-get($icons-map, "solid-key");
}
.icon-solid-light-bulb:before {
    content: map-get($icons-map, "solid-light-bulb");
}
.icon-solid-lightning-bolt:before {
    content: map-get($icons-map, "solid-lightning-bolt");
}
.icon-solid-link:before {
    content: map-get($icons-map, "solid-link");
}
.icon-solid-location-marker:before {
    content: map-get($icons-map, "solid-location-marker");
}
.icon-solid-lock-closed:before {
    content: map-get($icons-map, "solid-lock-closed");
}
.icon-solid-lock-open:before {
    content: map-get($icons-map, "solid-lock-open");
}
.icon-solid-login:before {
    content: map-get($icons-map, "solid-login");
}
.icon-solid-logout:before {
    content: map-get($icons-map, "solid-logout");
}
.icon-solid-mail-open:before {
    content: map-get($icons-map, "solid-mail-open");
}
.icon-solid-mail:before {
    content: map-get($icons-map, "solid-mail");
}
.icon-solid-map:before {
    content: map-get($icons-map, "solid-map");
}
.icon-solid-md-library:before {
    content: map-get($icons-map, "solid-md-library");
}
.icon-solid-menu-alt-1:before {
    content: map-get($icons-map, "solid-menu-alt-1");
}
.icon-solid-menu-alt-2:before {
    content: map-get($icons-map, "solid-menu-alt-2");
}
.icon-solid-menu-alt-3:before {
    content: map-get($icons-map, "solid-menu-alt-3");
}
.icon-solid-menu-alt-4:before {
    content: map-get($icons-map, "solid-menu-alt-4");
}
.icon-solid-menu:before {
    content: map-get($icons-map, "solid-menu");
}
.icon-solid-microphone:before {
    content: map-get($icons-map, "solid-microphone");
}
.icon-solid-minus-circle:before {
    content: map-get($icons-map, "solid-minus-circle");
}
.icon-solid-minus-sm:before {
    content: map-get($icons-map, "solid-minus-sm");
}
.icon-solid-minus:before {
    content: map-get($icons-map, "solid-minus");
}
.icon-solid-mobile:before {
    content: map-get($icons-map, "solid-mobile");
}
.icon-solid-moon:before {
    content: map-get($icons-map, "solid-moon");
}
.icon-solid-music-note:before {
    content: map-get($icons-map, "solid-music-note");
}
.icon-solid-newspaper:before {
    content: map-get($icons-map, "solid-newspaper");
}
.icon-solid-office-building:before {
    content: map-get($icons-map, "solid-office-building");
}
.icon-solid-paper-airplane:before {
    content: map-get($icons-map, "solid-paper-airplane");
}
.icon-solid-paper-clip:before {
    content: map-get($icons-map, "solid-paper-clip");
}
.icon-solid-pause:before {
    content: map-get($icons-map, "solid-pause");
}
.icon-solid-pencil-alt:before {
    content: map-get($icons-map, "solid-pencil-alt");
}
.icon-solid-pencil:before {
    content: map-get($icons-map, "solid-pencil");
}
.icon-solid-phone-incoming:before {
    content: map-get($icons-map, "solid-phone-incoming");
}
.icon-solid-phone-missed-call:before {
    content: map-get($icons-map, "solid-phone-missed-call");
}
.icon-solid-phone-outgoing:before {
    content: map-get($icons-map, "solid-phone-outgoing");
}
.icon-solid-phone:before {
    content: map-get($icons-map, "solid-phone");
}
.icon-solid-photograph:before {
    content: map-get($icons-map, "solid-photograph");
}
.icon-solid-play:before {
    content: map-get($icons-map, "solid-play");
}
.icon-solid-plus-circle:before {
    content: map-get($icons-map, "solid-plus-circle");
}
.icon-solid-plus-sm:before {
    content: map-get($icons-map, "solid-plus-sm");
}
.icon-solid-plus:before {
    content: map-get($icons-map, "solid-plus");
}
.icon-solid-presentation-chart-bar:before {
    content: map-get($icons-map, "solid-presentation-chart-bar");
}
.icon-solid-presentation-chart-line:before {
    content: map-get($icons-map, "solid-presentation-chart-line");
}
.icon-solid-printer:before {
    content: map-get($icons-map, "solid-printer");
}
.icon-solid-qrcode:before {
    content: map-get($icons-map, "solid-qrcode");
}
.icon-solid-question-mark-circle:before {
    content: map-get($icons-map, "solid-question-mark-circle");
}
.icon-solid-receipt-tax:before {
    content: map-get($icons-map, "solid-receipt-tax");
}
