@font-face {
    font-family: "icons";
    src: url("./icons.woff?e5d508217f43667f988a2dc1dba43783") format("woff"),
url("./icons.woff2?e5d508217f43667f988a2dc1dba43783") format("woff2"),
url("./icons.eot?e5d508217f43667f988a2dc1dba43783#iefix") format("embedded-opentype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-outline-academic-cap:before {
    content: "\f101";
}
.icon-outline-adjustments:before {
    content: "\f102";
}
.icon-outline-annotation:before {
    content: "\f103";
}
.icon-outline-archive:before {
    content: "\f104";
}
.icon-outline-arrow-circle-down:before {
    content: "\f105";
}
.icon-outline-arrow-circle-left:before {
    content: "\f106";
}
.icon-outline-arrow-circle-right:before {
    content: "\f107";
}
.icon-outline-arrow-circle-up:before {
    content: "\f108";
}
.icon-outline-arrow-down:before {
    content: "\f109";
}
.icon-outline-arrow-left:before {
    content: "\f10a";
}
.icon-outline-arrow-narrow-down:before {
    content: "\f10b";
}
.icon-outline-arrow-narrow-left:before {
    content: "\f10c";
}
.icon-outline-arrow-narrow-right:before {
    content: "\f10d";
}
.icon-outline-arrow-narrow-up:before {
    content: "\f10e";
}
.icon-outline-arrow-right:before {
    content: "\f10f";
}
.icon-outline-arrow-sm-down:before {
    content: "\f110";
}
.icon-outline-arrow-sm-left:before {
    content: "\f111";
}
.icon-outline-arrow-sm-right:before {
    content: "\f112";
}
.icon-outline-arrow-sm-up:before {
    content: "\f113";
}
.icon-outline-arrow-up:before {
    content: "\f114";
}
.icon-outline-arrows-expand:before {
    content: "\f115";
}
.icon-outline-at-symbol:before {
    content: "\f116";
}
.icon-outline-backspace:before {
    content: "\f117";
}
.icon-outline-badge-check:before {
    content: "\f118";
}
.icon-outline-ban:before {
    content: "\f119";
}
.icon-outline-beaker:before {
    content: "\f11a";
}
.icon-outline-bell:before {
    content: "\f11b";
}
.icon-outline-book-open:before {
    content: "\f11c";
}
.icon-outline-bookmark-alt:before {
    content: "\f11d";
}
.icon-outline-bookmark:before {
    content: "\f11e";
}
.icon-outline-briefcase:before {
    content: "\f11f";
}
.icon-outline-cake:before {
    content: "\f120";
}
.icon-outline-calculator:before {
    content: "\f121";
}
.icon-outline-calendar:before {
    content: "\f122";
}
.icon-outline-camera:before {
    content: "\f123";
}
.icon-outline-cash:before {
    content: "\f124";
}
.icon-outline-chart-bar:before {
    content: "\f125";
}
.icon-outline-chart-pie:before {
    content: "\f126";
}
.icon-outline-chart-square-bar:before {
    content: "\f127";
}
.icon-outline-chat-alt-2:before {
    content: "\f128";
}
.icon-outline-chat-alt:before {
    content: "\f129";
}
.icon-outline-chat:before {
    content: "\f12a";
}
.icon-outline-check-circle:before {
    content: "\f12b";
}
.icon-outline-check:before {
    content: "\f12c";
}
.icon-outline-chevron-double-down:before {
    content: "\f12d";
}
.icon-outline-chevron-double-left:before {
    content: "\f12e";
}
.icon-outline-chevron-double-right:before {
    content: "\f12f";
}
.icon-outline-chevron-double-up:before {
    content: "\f130";
}
.icon-outline-chevron-down:before {
    content: "\f131";
}
.icon-outline-chevron-left:before {
    content: "\f132";
}
.icon-outline-chevron-right:before {
    content: "\f133";
}
.icon-outline-chevron-up:before {
    content: "\f134";
}
.icon-outline-chip:before {
    content: "\f135";
}
.icon-outline-clipboard-check:before {
    content: "\f136";
}
.icon-outline-clipboard-copy:before {
    content: "\f137";
}
.icon-outline-clipboard-list:before {
    content: "\f138";
}
.icon-outline-clipboard:before {
    content: "\f139";
}
.icon-outline-clock:before {
    content: "\f13a";
}
.icon-outline-cloud-download:before {
    content: "\f13b";
}
.icon-outline-cloud-upload:before {
    content: "\f13c";
}
.icon-outline-cloud:before {
    content: "\f13d";
}
.icon-outline-code:before {
    content: "\f13e";
}
.icon-outline-cog:before {
    content: "\f13f";
}
.icon-outline-collection:before {
    content: "\f140";
}
.icon-outline-color-swatch:before {
    content: "\f141";
}
.icon-outline-credit-card:before {
    content: "\f142";
}
.icon-outline-cube-transparent:before {
    content: "\f143";
}
.icon-outline-cube:before {
    content: "\f144";
}
.icon-outline-currency-bangladeshi:before {
    content: "\f145";
}
.icon-outline-currency-dollar:before {
    content: "\f146";
}
.icon-outline-currency-euro:before {
    content: "\f147";
}
.icon-outline-currency-pound:before {
    content: "\f148";
}
.icon-outline-currency-rupee:before {
    content: "\f149";
}
.icon-outline-currency-yen:before {
    content: "\f14a";
}
.icon-outline-cursor-click:before {
    content: "\f14b";
}
.icon-outline-database:before {
    content: "\f14c";
}
.icon-outline-desktop-computer:before {
    content: "\f14d";
}
.icon-outline-device-mobile:before {
    content: "\f14e";
}
.icon-outline-device-tablet:before {
    content: "\f14f";
}
.icon-outline-document-add:before {
    content: "\f150";
}
.icon-outline-document-download:before {
    content: "\f151";
}
.icon-outline-document-duplicate:before {
    content: "\f152";
}
.icon-outline-document-remove:before {
    content: "\f153";
}
.icon-outline-document-report:before {
    content: "\f154";
}
.icon-outline-document-search:before {
    content: "\f155";
}
.icon-outline-document-text:before {
    content: "\f156";
}
.icon-outline-document:before {
    content: "\f157";
}
.icon-outline-dots-circle-horizontal:before {
    content: "\f158";
}
.icon-outline-dots-horizontal:before {
    content: "\f159";
}
.icon-outline-dots-vertical:before {
    content: "\f15a";
}
.icon-outline-download:before {
    content: "\f15b";
}
.icon-outline-duplicate:before {
    content: "\f15c";
}
.icon-outline-emoji-happy:before {
    content: "\f15d";
}
.icon-outline-emoji-sad:before {
    content: "\f15e";
}
.icon-outline-exclamation-circle:before {
    content: "\f15f";
}
.icon-outline-exclamation:before {
    content: "\f160";
}
.icon-outline-external-link:before {
    content: "\f161";
}
.icon-outline-eye-off:before {
    content: "\f162";
}
.icon-outline-eye:before {
    content: "\f163";
}
.icon-outline-fast-forward:before {
    content: "\f164";
}
.icon-outline-film:before {
    content: "\f165";
}
.icon-outline-filter:before {
    content: "\f166";
}
.icon-outline-finger-print:before {
    content: "\f167";
}
.icon-outline-fire:before {
    content: "\f168";
}
.icon-outline-flag:before {
    content: "\f169";
}
.icon-outline-folder-add:before {
    content: "\f16a";
}
.icon-outline-folder-download:before {
    content: "\f16b";
}
.icon-outline-folder-open:before {
    content: "\f16c";
}
.icon-outline-folder-remove:before {
    content: "\f16d";
}
.icon-outline-folder:before {
    content: "\f16e";
}
.icon-outline-gift:before {
    content: "\f16f";
}
.icon-outline-globe-alt:before {
    content: "\f170";
}
.icon-outline-globe:before {
    content: "\f171";
}
.icon-outline-hand:before {
    content: "\f172";
}
.icon-outline-hashtag:before {
    content: "\f173";
}
.icon-outline-heart:before {
    content: "\f174";
}
.icon-outline-home:before {
    content: "\f175";
}
.icon-outline-icon-user-remove:before {
    content: "\f176";
}
.icon-outline-identification:before {
    content: "\f177";
}
.icon-outline-inbox-in:before {
    content: "\f178";
}
.icon-outline-inbox:before {
    content: "\f179";
}
.icon-outline-information-circle:before {
    content: "\f17a";
}
.icon-outline-key:before {
    content: "\f17b";
}
.icon-outline-library:before {
    content: "\f17c";
}
.icon-outline-light-bulb:before {
    content: "\f17d";
}
.icon-outline-lightning-bolt:before {
    content: "\f17e";
}
.icon-outline-link:before {
    content: "\f17f";
}
.icon-outline-location-marker:before {
    content: "\f180";
}
.icon-outline-lock-closed:before {
    content: "\f181";
}
.icon-outline-lock-open:before {
    content: "\f182";
}
.icon-outline-logi:before {
    content: "\f183";
}
.icon-outline-logout:before {
    content: "\f184";
}
.icon-outline-mail-open:before {
    content: "\f185";
}
.icon-outline-mail:before {
    content: "\f186";
}
.icon-outline-map:before {
    content: "\f187";
}
.icon-outline-menu-alt-1:before {
    content: "\f188";
}
.icon-outline-menu-alt-2:before {
    content: "\f189";
}
.icon-outline-menu-alt-3:before {
    content: "\f18a";
}
.icon-outline-menu-alt-4:before {
    content: "\f18b";
}
.icon-outline-menu:before {
    content: "\f18c";
}
.icon-outline-microphone:before {
    content: "\f18d";
}
.icon-outline-minus-circle:before {
    content: "\f18e";
}
.icon-outline-minus-sm:before {
    content: "\f18f";
}
.icon-outline-minus:before {
    content: "\f190";
}
.icon-outline-moon:before {
    content: "\f191";
}
.icon-outline-music-note:before {
    content: "\f192";
}
.icon-outline-newspaper:before {
    content: "\f193";
}
.icon-outline-office-building:before {
    content: "\f194";
}
.icon-outline-paper-airplane:before {
    content: "\f195";
}
.icon-outline-paper-clip:before {
    content: "\f196";
}
.icon-outline-pause:before {
    content: "\f197";
}
.icon-outline-pencil-alt:before {
    content: "\f198";
}
.icon-outline-pencil:before {
    content: "\f199";
}
.icon-outline-phone-incoming:before {
    content: "\f19a";
}
.icon-outline-phone-missed-call:before {
    content: "\f19b";
}
.icon-outline-phone-outgoing:before {
    content: "\f19c";
}
.icon-outline-phone:before {
    content: "\f19d";
}
.icon-outline-photograph:before {
    content: "\f19e";
}
.icon-outline-play:before {
    content: "\f19f";
}
.icon-outline-plus-circle:before {
    content: "\f1a0";
}
.icon-outline-plus-sm:before {
    content: "\f1a1";
}
.icon-outline-plus:before {
    content: "\f1a2";
}
.icon-outline-presentation-chart-bar:before {
    content: "\f1a3";
}
.icon-outline-presentation-chart-line:before {
    content: "\f1a4";
}
.icon-outline-printer:before {
    content: "\f1a5";
}
.icon-outline-puzzle:before {
    content: "\f1a6";
}
.icon-outline-qrcode:before {
    content: "\f1a7";
}
.icon-outline-question-mark-circle:before {
    content: "\f1a8";
}
.icon-outline-receipt-refund:before {
    content: "\f1a9";
}
.icon-outline-receipt-tax:before {
    content: "\f1aa";
}
.icon-outline-refresh:before {
    content: "\f1ab";
}
.icon-outline-reply:before {
    content: "\f1ac";
}
.icon-outline-rewind:before {
    content: "\f1ad";
}
.icon-outline-rss:before {
    content: "\f1ae";
}
.icon-outline-save-as:before {
    content: "\f1af";
}
.icon-outline-save:before {
    content: "\f1b0";
}
.icon-outline-scale:before {
    content: "\f1b1";
}
.icon-outline-scissors:before {
    content: "\f1b2";
}
.icon-outline-search-circle:before {
    content: "\f1b3";
}
.icon-outline-selector:before {
    content: "\f1b4";
}
.icon-outline-server:before {
    content: "\f1b5";
}
.icon-outline-share:before {
    content: "\f1b6";
}
.icon-outline-shield-check:before {
    content: "\f1b7";
}
.icon-outline-shield-exclamation:before {
    content: "\f1b8";
}
.icon-outline-shopping-bag:before {
    content: "\f1b9";
}
.icon-outline-shopping-cart:before {
    content: "\f1ba";
}
.icon-outline-sm-view-grid-add:before {
    content: "\f1bb";
}
.icon-outline-sort-ascending:before {
    content: "\f1bc";
}
.icon-outline-sort-descending:before {
    content: "\f1bd";
}
.icon-outline-sparkles:before {
    content: "\f1be";
}
.icon-outline-speakerphone:before {
    content: "\f1bf";
}
.icon-outline-star:before {
    content: "\f1c0";
}
.icon-outline-status-offline:before {
    content: "\f1c1";
}
.icon-outline-status-online:before {
    content: "\f1c2";
}
.icon-outline-stop:before {
    content: "\f1c3";
}
.icon-outline-sun:before {
    content: "\f1c4";
}
.icon-outline-support:before {
    content: "\f1c5";
}
.icon-outline-switch-horizontal:before {
    content: "\f1c6";
}
.icon-outline-switch-vertical:before {
    content: "\f1c7";
}
.icon-outline-table:before {
    content: "\f1c8";
}
.icon-outline-tag:before {
    content: "\f1c9";
}
.icon-outline-template:before {
    content: "\f1ca";
}
.icon-outline-terminal:before {
    content: "\f1cb";
}
.icon-outline-thumb-down:before {
    content: "\f1cc";
}
.icon-outline-thumb-up:before {
    content: "\f1cd";
}
.icon-outline-ticket:before {
    content: "\f1ce";
}
.icon-outline-translate:before {
    content: "\f1cf";
}
.icon-outline-trash:before {
    content: "\f1d0";
}
.icon-outline-trending-down:before {
    content: "\f1d1";
}
.icon-outline-trending-up:before {
    content: "\f1d2";
}
.icon-outline-truck:before {
    content: "\f1d3";
}
.icon-outline-upload:before {
    content: "\f1d4";
}
.icon-outline-user-add:before {
    content: "\f1d5";
}
.icon-outline-user-circle:before {
    content: "\f1d6";
}
.icon-outline-user-group:before {
    content: "\f1d7";
}
.icon-outline-user:before {
    content: "\f1d8";
}
.icon-outline-users:before {
    content: "\f1d9";
}
.icon-outline-variable:before {
    content: "\f1da";
}
.icon-outline-video-camera:before {
    content: "\f1db";
}
.icon-outline-view-boards:before {
    content: "\f1dc";
}
.icon-outline-view-grid:before {
    content: "\f1dd";
}
.icon-outline-view-list:before {
    content: "\f1de";
}
.icon-outline-volume-off:before {
    content: "\f1df";
}
.icon-outline-volume-up:before {
    content: "\f1e0";
}
.icon-outline-wifi:before {
    content: "\f1e1";
}
.icon-outline-x-circle:before {
    content: "\f1e2";
}
.icon-outline-x:before {
    content: "\f1e3";
}
.icon-outline-zoom-in:before {
    content: "\f1e4";
}
.icon-outline-zoom-out:before {
    content: "\f1e5";
}
.icon-solid-academic-cap:before {
    content: "\f1e6";
}
.icon-solid-adjustments:before {
    content: "\f1e7";
}
.icon-solid-annotation:before {
    content: "\f1e8";
}
.icon-solid-archive:before {
    content: "\f1e9";
}
.icon-solid-arrow-circle-down:before {
    content: "\f1ea";
}
.icon-solid-arrow-circle-left:before {
    content: "\f1eb";
}
.icon-solid-arrow-circle-right:before {
    content: "\f1ec";
}
.icon-solid-arrow-circle-up:before {
    content: "\f1ed";
}
.icon-solid-arrow-down:before {
    content: "\f1ee";
}
.icon-solid-arrow-left:before {
    content: "\f1ef";
}
.icon-solid-arrow-narrow-down:before {
    content: "\f1f0";
}
.icon-solid-arrow-narrow-left:before {
    content: "\f1f1";
}
.icon-solid-arrow-narrow-right:before {
    content: "\f1f2";
}
.icon-solid-arrow-narrow-up:before {
    content: "\f1f3";
}
.icon-solid-arrow-right:before {
    content: "\f1f4";
}
.icon-solid-arrow-sm-down:before {
    content: "\f1f5";
}
.icon-solid-arrow-sm-left:before {
    content: "\f1f6";
}
.icon-solid-arrow-sm-right:before {
    content: "\f1f7";
}
.icon-solid-arrow-sm-up:before {
    content: "\f1f8";
}
.icon-solid-arrow-up:before {
    content: "\f1f9";
}
.icon-solid-arrows-expand:before {
    content: "\f1fa";
}
.icon-solid-at-symbol:before {
    content: "\f1fb";
}
.icon-solid-backspace:before {
    content: "\f1fc";
}
.icon-solid-badge-check:before {
    content: "\f1fd";
}
.icon-solid-ban:before {
    content: "\f1fe";
}
.icon-solid-beaker:before {
    content: "\f1ff";
}
.icon-solid-bell:before {
    content: "\f200";
}
.icon-solid-book-open:before {
    content: "\f201";
}
.icon-solid-bookmark-alt:before {
    content: "\f202";
}
.icon-solid-bookmark:before {
    content: "\f203";
}
.icon-solid-briefcase:before {
    content: "\f204";
}
.icon-solid-cake:before {
    content: "\f205";
}
.icon-solid-calculato:before {
    content: "\f206";
}
.icon-solid-calendar:before {
    content: "\f207";
}
.icon-solid-camera:before {
    content: "\f208";
}
.icon-solid-cart:before {
    content: "\f209";
}
.icon-solid-cash:before {
    content: "\f20a";
}
.icon-solid-chart-bar:before {
    content: "\f20b";
}
.icon-solid-chart-pie:before {
    content: "\f20c";
}
.icon-solid-chart-square-bar:before {
    content: "\f20d";
}
.icon-solid-chat-alt-2:before {
    content: "\f20e";
}
.icon-solid-chat-alt:before {
    content: "\f20f";
}
.icon-solid-chat:before {
    content: "\f210";
}
.icon-solid-check-circle:before {
    content: "\f211";
}
.icon-solid-check:before {
    content: "\f212";
}
.icon-solid-chevron-double-down:before {
    content: "\f213";
}
.icon-solid-chevron-double-left:before {
    content: "\f214";
}
.icon-solid-chevron-double-right:before {
    content: "\f215";
}
.icon-solid-chevron-double-up:before {
    content: "\f216";
}
.icon-solid-chevron-down:before {
    content: "\f217";
}
.icon-solid-chevron-left:before {
    content: "\f218";
}
.icon-solid-chevron-right:before {
    content: "\f219";
}
.icon-solid-chevron-up:before {
    content: "\f21a";
}
.icon-solid-chip:before {
    content: "\f21b";
}
.icon-solid-clipboard-check:before {
    content: "\f21c";
}
.icon-solid-clipboard-copy:before {
    content: "\f21d";
}
.icon-solid-clipboard-list:before {
    content: "\f21e";
}
.icon-solid-clock:before {
    content: "\f21f";
}
.icon-solid-cloud-download:before {
    content: "\f220";
}
.icon-solid-cloud-upload:before {
    content: "\f221";
}
.icon-solid-cloud:before {
    content: "\f222";
}
.icon-solid-code:before {
    content: "\f223";
}
.icon-solid-cog:before {
    content: "\f224";
}
.icon-solid-collection:before {
    content: "\f225";
}
.icon-solid-color-swatch:before {
    content: "\f226";
}
.icon-solid-credit-card:before {
    content: "\f227";
}
.icon-solid-cube-transparent:before {
    content: "\f228";
}
.icon-solid-cube:before {
    content: "\f229";
}
.icon-solid-currency-bangladeshi:before {
    content: "\f22a";
}
.icon-solid-currency-dollar:before {
    content: "\f22b";
}
.icon-solid-currency-euro:before {
    content: "\f22c";
}
.icon-solid-currency-pound:before {
    content: "\f22d";
}
.icon-solid-currency-rupee:before {
    content: "\f22e";
}
.icon-solid-currency-yen:before {
    content: "\f22f";
}
.icon-solid-cursor-click:before {
    content: "\f230";
}
.icon-solid-database:before {
    content: "\f231";
}
.icon-solid-desktop-computer:before {
    content: "\f232";
}
.icon-solid-device-mobile:before {
    content: "\f233";
}
.icon-solid-document-add:before {
    content: "\f234";
}
.icon-solid-document-download:before {
    content: "\f235";
}
.icon-solid-document-duplicate:before {
    content: "\f236";
}
.icon-solid-document-remove:before {
    content: "\f237";
}
.icon-solid-document-report:before {
    content: "\f238";
}
.icon-solid-document-search:before {
    content: "\f239";
}
.icon-solid-document-text:before {
    content: "\f23a";
}
.icon-solid-document:before {
    content: "\f23b";
}
.icon-solid-dots-circle-horizontal:before {
    content: "\f23c";
}
.icon-solid-dots-horizontal:before {
    content: "\f23d";
}
.icon-solid-dots-vertical:before {
    content: "\f23e";
}
.icon-solid-download:before {
    content: "\f23f";
}
.icon-solid-duplicate:before {
    content: "\f240";
}
.icon-solid-emoji-happy:before {
    content: "\f241";
}
.icon-solid-emoji-sad:before {
    content: "\f242";
}
.icon-solid-exclamation-circle:before {
    content: "\f243";
}
.icon-solid-exclamation:before {
    content: "\f244";
}
.icon-solid-external-link:before {
    content: "\f245";
}
.icon-solid-eye-off:before {
    content: "\f246";
}
.icon-solid-eye:before {
    content: "\f247";
}
.icon-solid-fast-forward:before {
    content: "\f248";
}
.icon-solid-film:before {
    content: "\f249";
}
.icon-solid-filter:before {
    content: "\f24a";
}
.icon-solid-finger-print:before {
    content: "\f24b";
}
.icon-solid-fire:before {
    content: "\f24c";
}
.icon-solid-flag:before {
    content: "\f24d";
}
.icon-solid-folder-add:before {
    content: "\f24e";
}
.icon-solid-folder-download:before {
    content: "\f24f";
}
.icon-solid-folder-open:before {
    content: "\f250";
}
.icon-solid-folder-remove:before {
    content: "\f251";
}
.icon-solid-folder:before {
    content: "\f252";
}
.icon-solid-gift:before {
    content: "\f253";
}
.icon-solid-globe-alt:before {
    content: "\f254";
}
.icon-solid-globe:before {
    content: "\f255";
}
.icon-solid-hand:before {
    content: "\f256";
}
.icon-solid-hashtag:before {
    content: "\f257";
}
.icon-solid-heart:before {
    content: "\f258";
}
.icon-solid-home:before {
    content: "\f259";
}
.icon-solid-icon-currency-dollar:before {
    content: "\f25a";
}
.icon-solid-identification:before {
    content: "\f25b";
}
.icon-solid-inbox-in:before {
    content: "\f25c";
}
.icon-solid-inbox:before {
    content: "\f25d";
}
.icon-solid-information-circle:before {
    content: "\f25e";
}
.icon-solid-key:before {
    content: "\f25f";
}
.icon-solid-light-bulb:before {
    content: "\f260";
}
.icon-solid-lightning-bolt:before {
    content: "\f261";
}
.icon-solid-link:before {
    content: "\f262";
}
.icon-solid-location-marker:before {
    content: "\f263";
}
.icon-solid-lock-closed:before {
    content: "\f264";
}
.icon-solid-lock-open:before {
    content: "\f265";
}
.icon-solid-login:before {
    content: "\f266";
}
.icon-solid-logout:before {
    content: "\f267";
}
.icon-solid-mail-open:before {
    content: "\f268";
}
.icon-solid-mail:before {
    content: "\f269";
}
.icon-solid-map:before {
    content: "\f26a";
}
.icon-solid-md-library:before {
    content: "\f26b";
}
.icon-solid-menu-alt-1:before {
    content: "\f26c";
}
.icon-solid-menu-alt-2:before {
    content: "\f26d";
}
.icon-solid-menu-alt-3:before {
    content: "\f26e";
}
.icon-solid-menu-alt-4:before {
    content: "\f26f";
}
.icon-solid-menu:before {
    content: "\f270";
}
.icon-solid-microphone:before {
    content: "\f271";
}
.icon-solid-minus-circle:before {
    content: "\f272";
}
.icon-solid-minus-sm:before {
    content: "\f273";
}
.icon-solid-minus:before {
    content: "\f274";
}
.icon-solid-mobile:before {
    content: "\f275";
}
.icon-solid-moon:before {
    content: "\f276";
}
.icon-solid-music-note:before {
    content: "\f277";
}
.icon-solid-newspaper:before {
    content: "\f278";
}
.icon-solid-office-building:before {
    content: "\f279";
}
.icon-solid-paper-airplane:before {
    content: "\f27a";
}
.icon-solid-paper-clip:before {
    content: "\f27b";
}
.icon-solid-pause:before {
    content: "\f27c";
}
.icon-solid-pencil-alt:before {
    content: "\f27d";
}
.icon-solid-pencil:before {
    content: "\f27e";
}
.icon-solid-phone-incoming:before {
    content: "\f27f";
}
.icon-solid-phone-missed-call:before {
    content: "\f280";
}
.icon-solid-phone-outgoing:before {
    content: "\f281";
}
.icon-solid-phone:before {
    content: "\f282";
}
.icon-solid-photograph:before {
    content: "\f283";
}
.icon-solid-play:before {
    content: "\f284";
}
.icon-solid-plus-circle:before {
    content: "\f285";
}
.icon-solid-plus-sm:before {
    content: "\f286";
}
.icon-solid-plus:before {
    content: "\f287";
}
.icon-solid-presentation-chart-bar:before {
    content: "\f288";
}
.icon-solid-presentation-chart-line:before {
    content: "\f289";
}
.icon-solid-printer:before {
    content: "\f28a";
}
.icon-solid-qrcode:before {
    content: "\f28b";
}
.icon-solid-question-mark-circle:before {
    content: "\f28c";
}
.icon-solid-receipt-tax:before {
    content: "\f28d";
}
