@use '../../../styles/foundations/spacing';
@use '../../../styles/foundations/colors';
@use '../../../styles/foundations/typography';

.chip {
   border-radius: spacing.get-spacing('default', 'p-24');
   cursor: default;
   display: flex;

   &--sm {
      padding: spacing.get-spacing('compact', 'p-compact-2')
         spacing.get-spacing('compact', 'p-compact-8');
      @include typography.font('text-xxs', 'font-bold');
   }

   &--md {
      padding: spacing.get-spacing('compact', 'p-compact-2')
         spacing.get-spacing('compact', 'p-compact-8');
      @include typography.font('text-xs', 'font-bold');
   }

   &--lg {
      padding: spacing.get-spacing('compact', 'p-compact-2')
         spacing.get-spacing('compact', 'p-compact-12');
      @include typography.font('text-base', 'font-bold');
   }

   &--xl {
      padding: spacing.get-spacing('compact', 'p-compact-4')
         spacing.get-spacing('compact', 'p-compact-16');
      @include typography.font('text-lg', 'font-bold');
   }

   &--fill {
      background-color: colors.get-color('cool-grey-4', 900);
      color: colors.get-color('neutral', 'white');
   }

   &--outline {
      border: colors.get-color('cool-grey-10', 500) solid 1px;
      color: colors.get-color('neutral', 'black');
      background-color: colors.get-color('neutral', 'white');
   }

   &--left {
      flex-direction: row;
   }

   &--right {
      flex-direction: row-reverse;
   }
}
