@use '../../../styles/tokens/colors' as colorTokens;
@use '../../../styles/foundations/typography';
@use '../../../styles/foundations/spacing';
@use '../../../styles/foundations/colors';
@use '../../../styles/helpers.scss';

.button,
.yamaha-btn {
   .cmp-button {
      padding: spacing.get-spacing('compact', 'p-compact-10')
         spacing.get-spacing('default', 'p-32');
      cursor: pointer;
      transition: background-color 0.4s ease;
      border-radius: helpers.rem(80px);
      border: none;
      outline: none;

      //Should replace with flex function
      display: flex;
      align-items: center;
      gap: helpers.rem(10px);

      &__text {
         @include typography.font('text-lg', 'font-bold');
      }

      &__icon {
         @include typography.icon-size(24px);
      }
   }

   &.primary {
      .cmp-button {
         background-color: colorTokens.$surface-button-primary-default;

         &__text {
            color: colors.get-color('neutral', 'white');
         }

         &:hover {
            background-color: colorTokens.$surface-button-primary-hover;
         }

         &:active {
            background-color: colorTokens.$surface-button-primary-active;
         }

         &:disabled {
            background-color: colorTokens.$surface-button-primary-disabled;
            cursor: not-allowed;
         }
      }
   }

   &.secondary {
      .cmp-button {
         color: colorTokens.$surface-button-secondary-default;
         background-color: transparent;
         @include helpers.border(
            2px,
            colorTokens.$surface-button-secondary-default,
            80px
         );

         &__text {
            color: colorTokens.$surface-button-secondary-default;
         }

         &:hover {
            border-color: colorTokens.$surface-button-secondary-hover;
         }

         &:active {
            border-color: colorTokens.$surface-button-secondary-active;
         }

         &:disabled {
            border-color: colorTokens.$surface-button-secondary-disabled;
            cursor: not-allowed;

            .cmp-button {
               &__text {
                  color: colorTokens.$surface-button-secondary-disabled;
               }
            }
         }
      }
   }

   &.link {
      .cmp-button {
         color: colorTokens.$border-button-outlined-default;
         background-color: transparent;
         border: none;

         &__text {
            color: colorTokens.$border-button-outlined-default;
            text-decoration: underline;
         }

         &:hover {
            .cmp-button__text {
               color: colorTokens.$border-button-outlined-hover;
            }
         }

         &:active {
            .cmp-button__text {
               color: colorTokens.$border-button-outlined-active;
            }
         }

         &:disabled {
            .cmp-button__text {
               color: colorTokens.$border-button-outlined-disabled;
            }
            cursor: not-allowed;
         }
      }
   }

   &.btn-small {
      .cmp-button {
         &__text {
            @include typography.font('text-sm', 'font-bold');
         }
      }
   }

   &.btn-medium {
      .cmp-button {
         &__text {
            @include typography.font('text-base', 'font-bold');
         }
      }
   }

   &.btn-large {
      .cmp-button {
         &__text {
            @include typography.font('text-lg', 'font-bold');
         }
      }
   }
}
