@use '../../../styles/base/tokens';
@use '../../../styles/foundations/typography';
@use '../../../styles/foundations/spacing';
@use '../../../styles/foundations/colors';
@use '../../../styles/helpers.scss';

.button,
.yamaha-btn {
   .cmp-button {
      padding: 10px spacing.get-spacing('p-32');
      cursor: pointer;
      transition: background-color 0.4s ease;
      border-radius: helpers.rem(80px);
      border: none;
      outline: none;

      //Should replace with flex function
      display: flex;
      align-items: center;
      gap: helpers.rem(10px);

      &__text {
         @include typography.font('text-lg', 'font-bold');
      }

      &__icon {
         @include typography.icon-size(24px);
      }
   }

   &.primary {
      .cmp-button {
         background-color: token.$surface-button-primary-default;

         &__text {
            color: colors.get-color('neutral', 'white');
         }

         &:hover {
            background-color: token.$surface-button-primary-hover;
         }

         &:active {
            background-color: token.$surface-button-primary-active;
         }

         &:disabled {
            background-color: token.$surface-button-primary-disabled;
         }
      }
   }

   &.secondary {
      background-color: #6c757d;
      color: white;

      &:hover {
         background-color: #5a6268;
      }
   }

   &.link {
      background-color: #dc3545;
      color: white;

      &:hover {
         background-color: #c82333;
      }
   }

   &:disabled {
      background-color: #d6d6d6;
      cursor: not-allowed;
   }
}
